body {
  padding: 0;
  overflow: hidden;
}

.game-intro {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 430px;
  
  }

.game-intro p {
  flex: 1;
  font-size: 25px;
  color: #fff;
  font-family: "Verdana";
  margin-left: 20px;
  
}

.logo-img {
     position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("your-image-url.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.arrow-img {
  width: 120px;
  margin-left: 220px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 420px;
}

#game-board {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left: 0px;
  margin-top: 0px;

    
}
 
#restart-button {
  position: absolute;
  top: 350px;
  left: 248px;
}

audio::-webkit-media-controls {
  display:none !important;
}